<div class="appbar">
	<a class="link--reset" href="{{ url_for('/') }}"/>
		<div class="logo">
			{{ config.title }}
		</div>
	</a>
	<ul class="nav">
		<a class="link--reset" href="{{ url_for('/categories') }}">
			<li class="nav__item button">
				Categories
			</li>
		</a>
		<a class="link--reset" href="{{ url_for('/about') }}">
			<li class="nav__item button">
				About me
			</li>
		</a>
		<a class="link--reset" href="{{ url_for('/feed.xml') }}">
			<li class="nav__item button button--blue">
				Subscribe
			</li>
		</a>
	</ul>
</div>