<div class="contact">
	<a href="https://linkedin.com/in/{{config.linkedin_username}}" target="_blank">
		<img src="{{ url_for('/images/linkedin.svg') }}" class="social-icon">
	</a>
	<a href="https://github.com/{{config.github_username}}" target="_blank">
		<img src="{{ url_for('/images/github.svg') }}" class="social-icon">
	</a>
</div>