<a class="facebook-icon" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share on Facebook">
    <img src="{{ url_for('/images/facebook.svg') }}" class="social_icon">
</a>
