<a class="google-icon" href="https://plus.google.com/share?url={{ url }}"
   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share on Google+">
    <img src="{{ url_for('/images/googleplus.svg') }}" class="social_icon">
</a>