<a class="twitter-icon" href="https://twitter.com/intent/tweet?text=&quot;{{ page.title }}&quot;%20{{ url }}%20via%20&#64;{{ site.owner.twitter }}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter">
    <img src="{{  url_for('/images/twitter.svg') }}" class="social_icon">
</a>